.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #009bde; 
  }
  
  .container {
    padding: 25px;
    border: 10px solid;
    border-radius: 25px;
    background-color: #009bde;
    text-align: center;
  }
  
  