/* this is the css file for the SIGN IN PAGE

/* Global reset to remove margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  
  /* Root container styles */
  .landing-root-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full viewport width */
    overflow-x: hidden; /* Hide any horizontal overflow */
  }
  
  /* Custom logo styles */
  #hope-logo {
    max-width: 300px;
    max-height: 300px;
    transition: transform 0.3s, filter 0.3s;
  }
  
  /* Add hover effects */
  #hope-logo:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  
  /* Sign in button styles */
  .sign-in-button {
    padding: 10px 20px;
    font-size: 16px;
    /* background-color: rgb(123,82,162); */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sign-in-button:hover {
    background-color: rgb(73, 11, 131);;
  } 